*{
  box-sizing: border-box;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
  margin: 0;
}
img{
  max-width: 100%;
}
.App {
  text-align: center;
  font-family: monospace;
  max-width: 800px;
  margin: 0 auto;
}

.App h1{
  font-size: 2rem;
}

.board{
  display: flex;
  flex-wrap: wrap;
}

.board li{
  flex : 1 1 100px;
  height: 100px;
  border: 1px solid #444;
  cursor: pointer;
}